:root {
  --primary-color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin-top: 64px;
  overflow: auto;
}

button {
  text-transform: uppercase;
  background: var(--primary-color);
  color: white;
  border-radius: 2px;
  border: none;
  font-size: inherit;
  padding: 18px 54px;
}

button:hover {
  cursor: pointer;
  background-color: #000000b3;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 2rem;
}

.container {
  margin: 48px auto;
  box-sizing: border-box;
  padding: 0 24px;
  max-width: 1080px;
  overflow: auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }
}